
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
}
.pixels {
    width: 100%;
    height: 100%;;
}

.controls {
    background-color: aliceblue;
    width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
